/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*content*/
body{
    font-family: 'Fraunces', serif;
    line-height: 1.5;
}
/*container*/
.container{
max-width: 80%;
margin: 0 auto;
/*border: 2px solid green;*/
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding{
    padding: 50px 30px;
}
.head{
background-color: #222946;
padding: 20px;
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav a{
    margin-left: 30px;
    color: white;
    text-decoration: none;
   
    font-size: 16px;
}
.nav a img{
    vertical-align: middle;
    margin-left: 10px;
    
}
.aside{
    background-color: #A3CAEA;
    border-radius: 8px ;
    flex: 0 1 25%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.aside-nav{
    display: flex;
    flex-direction: column;
   padding: 30px 20px;
  
}
.aside  a{
padding: 10px 0;
text-decoration: none;
color: black;
font-weight: 700;

}
.aside-nav img{
    vertical-align: middle;
    padding: 0 10px;
}
.articles-border{
    border: 2px solid #F38441;
    color:#F38441;
    border-radius: 6px;
}
.articles-text{
    color: #F38441
}
.btn{
  
    padding: 10px 32px;
    border: 0;
    text-align: left;
    border-radius: 5px;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn img{
   vertical-align: middle;
  
}
.logout{
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    

}
article{
    background-color: #F2F8FD;
    flex: 0 1 50%;
   
    border-radius: 8px;
    margin-left: 30px;
  
}
.article-img{
   padding: 20px 20px;
   
}
h1{
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
    margin-left: 20px;
}
.text{
    font-weight: 500;
    margin-left: 20px;
}
.more-btn{
    height: 20px;
    width: 90px;
    background-color: #37B667;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
    
}
.footer{
    background-color: #222946;
    padding: 20px; 
    color:#BCC0D2; 
}
small{
    color: #BCC0D2;
    font-size: 16px;
}
.footer a{
    font-size: 25px;
    text-decoration: none;
    color: #BCC0D2;
    margin-left: 20px;
}
